Repository winnmedia/Videoplanet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @videoplanet-team-lead, @devops-lead, @backend-lead, @senior-django-dev, @database-admin, @frontend-lead, @senior-react-dev, @ui-ux-lead, @documentation-team, @tech-lead, @security-team

.github/CODEOWNERS:

# Code Owners for VideoPlanet Project
# These owners will be automatically requested for review when someone opens a pull request

# Global owners (for all files)
* @videoplanet-team-lead @devops-lead

# Backend specific
/vridge_back/ @backend-lead @senior-django-dev
/vridge_back/config/ @backend-lead @devops-lead
/vridge_back/*/migrations/ @backend-lead @database-admin

# Frontend specific
/vridge_front/ @frontend-lead @senior-react-dev
/vridge_front/src/components/ @frontend-lead @ui-ux-lead
/vridge_front/src/api/ @frontend-lead @backend-lead

# DevOps and Infrastructure
/.github/ @devops-lead
/docker/ @devops-lead
/scripts/ @devops-lead
*.yml @devops-lead
*.yaml @devops-lead
Dockerfile* @devops-lead
docker-compose* @devops-lead

# Documentation
*.md @documentation-team
/docs/ @documentation-team @tech-lead

# Security sensitive files
*.env* @security-team @devops-lead
*secret* @security-team @devops-lead
*credential* @security-team @devops-lead
/vridge_back/config/settings.py @backend-lead @security-team @devops-lead

fix: 로그인 버튼 스타일 복원 및 API_BASE_URL 설정
  .claude/settings.local.json
  DEBUGGING_REPORT.md
  DEPLOYMENT_FIX_ANALYSIS.md
  LINUX_MIGRATION_GUIDE.md
  MEMORY.md
  SOLUTION.md
  TEST_ENVIRONMENT_REPORT.md
  VERCEL_DEPLOYMENT_GUIDE.md
  app/(auth)/login/page.tsx
  debug-login.html
  linux-clone.sh
  linux-quick-start.md
  linux-setup.sh
  setup_in_wsl.sh
  setup_wsl2.ps1
Owners: @videoplanet-team-lead, @devops-lead, @documentation-team

docs: API URL 업데이트 - videoplanet.up.railway.app
  ENVIRONMENT_SETUP.md
Owners: @documentation-team

feat: Vercel 환경변수 호환성 개선
  ENVIRONMENT_SETUP.md
  lib/config.ts
Owners: @documentation-team, @videoplanet-team-lead, @devops-lead

fix: 로그인 시스템 전면 개선 및 네비게이션 문제 해결
  MEMORY.md
  RAILWAY_CORS_SETUP.md
  TEST_ACCOUNTS.md
  TROUBLESHOOTING.md
  app/(auth)/login/AuthForm.scss
  app/(auth)/login/Login.scss
  app/(auth)/login/LoginPage.scss
  app/(auth)/login/page.tsx
  app/(auth)/login/test-login.html
  middleware.ts
  src/api/project.js
  src/css/Home.scss
  test-navigation.js
  vridge_back/create_test_users.py
Owners: @documentation-team, @videoplanet-team-lead, @devops-lead, @backend-lead, @senior-django-dev

fix: Django 백엔드 Railway 배포 문제 전면 해결
  DJANGO_FIXES.md
  vridge_back/config/settings/base.py
  vridge_back/config/settings/railway.py
  vridge_back/create_test_users.py
  vridge_back/users/views.py
Owners: @documentation-team, @backend-lead, @devops-lead, @senior-django-dev

feat: VideoPlanet 브랜딩을 Planet으로 변경 및 TypeScript 오류 수정
  app/(main)/components/MainSidebar.tsx
  app/(main)/dashboard/components/Sidebar.tsx
  app/(main)/feedback/public/[shareId]/page.tsx
  app/(main)/planning/components/ShotBreakdown.tsx
  app/(main)/planning/layout.tsx
  app/layout.tsx
  components/organisms/Sidebar/Sidebar.stories.tsx
  debug-login.html
  features/feedback/components/AnonymousFeedback.tsx
  features/feedback/components/EnhancedFeedbackInput.tsx
  features/feedback/components/EnhancedFeedbackInterface.tsx
  features/feedback/components/FeedbackFilter.tsx
  features/feedback/components/FeedbackStats.tsx
  features/feedback/components/FeedbackTimeline.tsx
  features/feedback/components/VideoScreenshot.tsx
  features/planning/hooks/usePlanning.ts
  features/planning/services/aiService.ts
  features/projects/api/projectsApi.ts
  features/projects/components/EmailInvitation.tsx
  features/projects/components/InviteInput.tsx
  features/projects/components/ProjectProgress.tsx
  test-login-debug.html
Owners: @videoplanet-team-lead, @devops-lead

docs: VideoPlanet → Planet 브랜딩 변경 작업 기록 추가
  MEMORY.md
Owners: @documentation-team

docs: 배포 가이드 및 검증 스크립트 추가
  .claude/settings.local.json
  .env.production
  DEPLOYMENT_GUIDE.md
  scripts/pre-deployment-check.js
Owners: @videoplanet-team-lead, @devops-lead, @security-team, @documentation-team

fix: 로그인 405 에러 해결 - API URL 정규화 시스템 구현
  .claude/settings.local.json
  MEMORY.md
  __tests__/integration/login-url-test.ts
  app/debug-url/page.tsx
  docs/CORS_CONFIGURATION_GUIDE.md
  docs/VERCEL_DEPLOYMENT_GUIDE.md
  docs/VERCEL_ENV_CHECKLIST.md
  lib/api/client.ts
  lib/config.ts
  package.json
  scripts/test-cors.sh
  scripts/validate-env.js
Owners: @videoplanet-team-lead, @devops-lead, @documentation-team, @tech-lead

fix: 405 에러 및 Vercel 빌드 문제 완전 해결
  CLAUDE.md
  MEMORY.md
  VERCEL_DEPLOYMENT_GUIDE.md
  __tests__/integration/protocol-fix-test.ts
  __tests__/integration/url-build-test.ts
  app/layout.tsx
  docs/VERCEL_DEPLOYMENT_GUIDE.md
  lib/api/client.ts
  lib/config.ts
  next.config.js
  package-lock.json
  package.json
  scripts/optimize-build.js
  scripts/validate-env.js
  server-polyfill.js
  test-results/junit.xml
  tsconfig.json
  tsconfig.tsbuildinfo
  vercel.json
Owners: @documentation-team, @videoplanet-team-lead, @devops-lead, @tech-lead

fix: Restaurant POS UI 업데이트 전 버전으로 복구 및 빌드 수정
  .claude/settings.local.json
  Architecture_fsd.md
  DEVELOPMENT_RULES.md
  STARTWORK.md
  STARTWORK.md.docx
  STARTWORK.md.docx:Zone.Identifier
  next.config.js
Owners: @videoplanet-team-lead, @devops-lead, @documentation-team

Remove demo pages causing build errors
  .gitignore
  src/app/components-demo/page.module.scss
  src/app/components-demo/page.tsx
  src/app/file-upload-demo/page.tsx
Owners: @videoplanet-team-lead, @devops-lead

feat: Railway 백엔드 배포 설정 파일 추가
  nixpacks.toml
  railway.json
  runtime.txt
Owners: @videoplanet-team-lead, @devops-lead

feat: Nixpacks에서 Railpack으로 배포 시스템 전환
  .railpack.toml
  nixpacks.toml
  railway.json
  requirements.txt
  runtime.txt
Owners: @videoplanet-team-lead, @devops-lead

feat: Railpack 설정 최적화 및 SECRET_KEY 추가
  .railpack.toml
  railway.json
Owners: @videoplanet-team-lead, @devops-lead

fix: Vercel 빌드 오류 해결 - IconType 충돌 및 Client Component 수정
  src/features/comment-system/ui/EnhancedCommentSystem.tsx
  src/features/plan-creation/ui/steps/CollaborationStep/CollaborationStep.tsx
  src/features/plan-creation/ui/steps/ReviewStep/ReviewStep.tsx
  src/shared/ui/GanttChart.tsx
  src/shared/ui/error-boundary/ErrorFallback.tsx
  src/shared/ui/icons/index.ts
  src/shared/ui/not-found/NotFoundTemplate.tsx
Owners: @videoplanet-team-lead, @devops-lead

feat: Railpack Django 프로젝트 인식을 위한 설정 추가
  manage.py
  nixpacks.toml
  wsgi.py
Owners: @videoplanet-team-lead, @devops-lead

fix: Nixpacks 설정 최적화 - 단계별 빌드 구성
  nixpacks.toml
Owners: @videoplanet-team-lead, @devops-lead

feat: 안정적인 Django 배포를 위한 최적화된 Dockerfile 추가
  Dockerfile
Owners: @devops-lead

fix: Nixpacks 설정 최종 수정 및 railway.json 빌더 명시
  nixpacks.toml
  railway.json
Owners: @videoplanet-team-lead, @devops-lead

fix: Railpack 전용 설정으로 완전히 전환 - Nixpacks 제거
  .railpack.toml
  manage.py
  nixpacks.toml
  railway.json
  wsgi.py
Owners: @videoplanet-team-lead, @devops-lead

fix: Railway Nixpacks 설정으로 최종 전환 - Django 서브디렉토리 지원
  .railpack.toml
  nixpacks.toml
  railway.json
Owners: @videoplanet-team-lead, @devops-lead

feat: Railpack 빌더로 최종 전환 - 사용자 요청에 따른 설정
  .railpack.toml
  nixpacks.toml
  railway.json
Owners: @videoplanet-team-lead, @devops-lead

fix: Dockerfile 경로 수정 - Railway 빌드 오류 해결
  Dockerfile
Owners: @devops-lead

fix: Railpack 빌드 구성 완료 - Python 프로젝트 감지 파일 추가
  .env.example
  .railpack.toml
  Procfile
  railway.json
  requirements.txt
  runtime.txt
Owners: @security-team, @devops-lead, @videoplanet-team-lead

fix: Railway 배포 오류 해결 - Dockerfile 비활성화로 Railpack 빌더 사용
  Dockerfile.backup
  MEMORY.md
Owners: @devops-lead, @documentation-team

fix: Railway 헬스체크 실패 문제 해결
  .railpack.toml
  Procfile
  railway.json
Owners: @videoplanet-team-lead, @devops-lead

fix: Railway 모듈 import 오류 해결 - Daphne를 Gunicorn으로 교체
  .railpack.toml
  Procfile
  railway.json
  requirements.txt
Owners: @videoplanet-team-lead, @devops-lead

fix: Railway 캐시 문제 해결 - Procfile 삭제 및 빌드 설정 강화
  .railpack.toml
  Procfile
  nixpacks.toml
  railway.json
Owners: @videoplanet-team-lead, @devops-lead

fix: Railway 빌더 설정 간소화 - 자동 감지 모드 활성화
  railway.json
Owners: @videoplanet-team-lead, @devops-lead

docs: Railway 배포 문제 해결 과정 문서화
  MEMORY.md
Owners: @documentation-team

fix: Railway RAILPACK 빌더 전용 설정 완료
  .railpack.toml
  Dockerfile.backup
  nixpacks.toml
  railpack.toml
  railway.json
  requirements.txt
Owners: @videoplanet-team-lead, @devops-lead

fix: Railway 배포를 위한 최소 설정으로 복귀
  Procfile
  railpack.toml
  railway.json
Owners: @videoplanet-team-lead, @devops-lead
