Repository winnmedia/Videoplanet, changes with the owners that .github/CODEOWNERS names for each.
All owners: @videoplanet-team-lead, @devops-lead, @backend-lead, @senior-django-dev, @database-admin, @frontend-lead, @senior-react-dev, @ui-ux-lead, @documentation-team, @tech-lead, @security-team

.github/CODEOWNERS:

# Code Owners for VideoPlanet Project
# These owners will be automatically requested for review when someone opens a pull request

# Global owners (for all files)
* @videoplanet-team-lead @devops-lead

# Backend specific
/vridge_back/ @backend-lead @senior-django-dev
/vridge_back/config/ @backend-lead @devops-lead
/vridge_back/*/migrations/ @backend-lead @database-admin

# Frontend specific
/vridge_front/ @frontend-lead @senior-react-dev
/vridge_front/src/components/ @frontend-lead @ui-ux-lead
/vridge_front/src/api/ @frontend-lead @backend-lead

# DevOps and Infrastructure
/.github/ @devops-lead
/docker/ @devops-lead
/scripts/ @devops-lead
*.yml @devops-lead
*.yaml @devops-lead
Dockerfile* @devops-lead
docker-compose* @devops-lead

# Documentation
*.md @documentation-team
/docs/ @documentation-team @tech-lead

# Security sensitive files
*.env* @security-team @devops-lead
*secret* @security-team @devops-lead
*credential* @security-team @devops-lead
/vridge_back/config/settings.py @backend-lead @security-team @devops-lead

feat: Remove social login and implement SendGrid email
  MEMORY.md
  package.json
  src/api/auth.js
  src/assets/images/User/google_icon.svg
  src/assets/images/User/kakao_icon.svg
  src/assets/images/User/naver_icon.svg
  src/pages/User/Login.jsx
  vridge_back/.env.example
  vridge_back/config/settings.py
  vridge_back/requirements.txt
  vridge_back/templates/password_reset_email.html
  vridge_back/users/migrations/0006_remove_user_login_method.py
  vridge_back/users/models.py
  vridge_back/users/urls.py
  vridge_back/users/utils.py
  vridge_back/users/views.py
  vridge_front/package.json
  vridge_front/public/images/User/google_icon.svg
  vridge_front/public/images/User/kakao_icon.svg
  vridge_front/public/images/User/naver_icon.svg
  vridge_front/src/api/auth.js
  vridge_front/src/images/User/google_icon.svg
  vridge_front/src/images/User/kakao_icon.svg
  vridge_front/src/images/User/naver_icon.svg
  vridge_front/src/page/User/Login.jsx
Owners: @documentation-team, @videoplanet-team-lead, @devops-lead, @security-team, @backend-lead, @senior-django-dev, @database-admin, @frontend-lead, @senior-react-dev

fix: Remove functions property from vercel.json to fix deployment error
  vercel.json
  vridge_front/vercel.json
Owners: @videoplanet-team-lead, @devops-lead, @frontend-lead, @senior-react-dev

fix: Railway deployment Docker configuration
  .gitignore
  vridge_back/Dockerfile
  vridge_back/railway.json
Owners: @videoplanet-team-lead, @devops-lead, @backend-lead, @senior-django-dev

fix: Railway Dockerfile path configuration
  railway.json
  vercel.json
  vridge_front/vercel.json
Owners: @videoplanet-team-lead, @devops-lead, @frontend-lead, @senior-react-dev

fix: Railway health check implementation and deployment issues
  vridge_back/.env.example
  vridge_back/.env.railway.example
  vridge_back/Dockerfile
  vridge_back/RAILWAY_DEPLOYMENT_GUIDE.md
  vridge_back/check_health.py
  vridge_back/config/settings_production.py
  vridge_back/config/urls.py
  vridge_back/core/health.py
  vridge_back/core/simple_health.py
  vridge_back/core/views.py
  vridge_back/docker-entrypoint.sh
  vridge_back/railway.json
  vridge_back/start_railway.sh
Owners: @security-team, @devops-lead, @documentation-team, @backend-lead, @senior-django-dev

Fix: Remove old settings.py and force settings package structure
  vridge_back/.dockerignore
  vridge_back/DEPLOYMENT_SOLUTION.md
  vridge_back/Dockerfile
  vridge_back/RAILWAY_DEPLOYMENT_FIX.md
  vridge_back/RAILWAY_ENV_SETUP.md
  vridge_back/config/my_settings_dummy.py
  vridge_back/config/settings/__init__.py
  vridge_back/config/settings/base.py
  vridge_back/config/settings/local.py
  vridge_back/config/settings/railway.py
  vridge_back/config/settings_railway.py
  vridge_back/docker-entrypoint.sh
  vridge_back/railway.json
  vridge_back/test_settings.py
Owners: @backend-lead, @senior-django-dev, @documentation-team, @devops-lead

Critical fix: Add bulletproof deployment solution
  DEPLOYMENT_FIX_ANALYSIS.md
  IMMEDIATE_ACTION_PLAN.md
  vridge_back/BULLETPROOF_SETTINGS_SOLUTION.md
  vridge_back/CRITICAL_FIX.md
  vridge_back/Dockerfile
  vridge_back/RAILWAY_DEPLOYMENT_SOLUTION.md
  vridge_back/accounts/__init__.py
  vridge_back/accounts/apps.py
  vridge_back/alarmtalk/__init__.py
  vridge_back/alarmtalk/apps.py
  vridge_back/bulletproof-start.py
  vridge_back/config/settings.py
  vridge_back/config/settings/__init__.py
  vridge_back/config/settings/local.py
  vridge_back/config/settings/railway.py
  vridge_back/docker-entrypoint.sh
  vridge_back/materials/__init__.py
  vridge_back/materials/apps.py
  vridge_back/myinfo/__init__.py
  vridge_back/myinfo/apps.py
  vridge_back/notice/__init__.py
  vridge_back/notice/apps.py
  vridge_back/pre-start.sh
  vridge_back/proposal/__init__.py
  vridge_back/proposal/apps.py
  vridge_back/railway-start.sh
  vridge_back/railway.json
  vridge_back/supports/__init__.py
  vridge_back/supports/apps.py
  vridge_back/test-import-fixes.py
  vridge_back/verify_settings.py
  vridge_back/vlahome/__init__.py
  vridge_back/vlahome/apps.py
  vridge_back/vlapartners/__init__.py
  vridge_back/vlapartners/apps.py
Owners: @documentation-team, @devops-lead, @backend-lead, @senior-django-dev, @security-team

CRITICAL FIX: Railway deployment issues resolved
  vridge_back/.dockerignore
  vridge_back/Dockerfile
  vridge_back/Dockerfile.debug
  vridge_back/docker-entrypoint.sh
  vridge_back/railway-deploy.sh
  vridge_back/railway.json
Owners: @backend-lead, @senior-django-dev, @devops-lead

Fix Railway deployment errors
  vridge_back/config/settings/railway.py
  vridge_back/users/admin.py
Owners: @backend-lead, @devops-lead, @senior-django-dev

fix: Add server_django_proxy_v2.py for Railway deployment compatibility
  vridge_back/DEPLOYMENT_FIX.md
  vridge_back/Dockerfile
  vridge_back/railway.json
  vridge_back/server_django_proxy_v2.py
Owners: @documentation-team, @devops-lead, @backend-lead, @senior-django-dev

Fix Vercel build errors
  vridge_back/EMERGENCY_FIX.md
  vridge_back/manage.py
  vridge_back/run_daphne.sh
  vridge_back/test_settings.py
  vridge_back/verify_settings.py
  vridge_front/app/calendar/page.tsx
  vridge_front/app/feedback/[projectId]/page.tsx
  vridge_front/package-lock.json
  vridge_front/package.json
  vridge_front/src/page/Cms/Calendar.jsx
  vridge_front/src/page/Cms/Feedback.jsx
Owners: @documentation-team, @backend-lead, @senior-django-dev, @frontend-lead, @senior-react-dev

Fix all Vercel build errors comprehensively
  vridge_front/app/login/page.tsx
  vridge_front/app/project/create/page.tsx
  vridge_front/app/project/edit/[projectId]/page.tsx
  vridge_front/app/project/view/[projectId]/page.tsx
  vridge_front/app/signup/page.tsx
  vridge_front/package-lock.json
  vridge_front/package.json
  vridge_front/src/page/Cms/CmsHome.jsx
  vridge_front/src/page/Cms/Elearning.jsx
  vridge_front/src/page/Cms/FeedbackAll.jsx
  vridge_front/src/page/Cms/ProjectCreate.jsx
  vridge_front/src/page/Cms/ProjectEdit.jsx
  vridge_front/src/page/Cms/ProjectView.jsx
  vridge_front/src/page/Home.jsx
  vridge_front/src/page/Privacy.jsx
  vridge_front/src/page/Terms.jsx
  vridge_front/src/page/User/EmailCheck.jsx
  vridge_front/src/page/User/Login.jsx
  vridge_front/src/page/User/ResetPw.jsx
  vridge_front/src/page/User/Signup.jsx
Owners: @frontend-lead, @senior-react-dev

fix: Vercel deployment - configure root directory build path
  vercel.json
Owners: @videoplanet-team-lead, @devops-lead

fix: Remove legacy vridge_front/vercel.json and add .vercelignore
  .claude/settings.local.json
  .transfer-ignore
  .vercelignore
  Dockerfile
  LINUX_MIGRATION_GUIDE.md
  WSL2_INSTALL_GUIDE.md
  linux-clone.sh
  linux-quick-start.md
  linux-setup.sh
  setup_in_wsl.sh
  setup_wsl2.ps1
  vridge_front/vercel.json
Owners: @videoplanet-team-lead, @devops-lead, @documentation-team, @frontend-lead, @senior-react-dev

fix: Remove unsupported 'root' property from vercel.json
  vercel.json
Owners: @videoplanet-team-lead, @devops-lead

fix: Redux store export issue for Vercel deployment
  .next/BUILD_ID
  .next/app-build-manifest.json
  .next/app-path-routes-manifest.json
  .next/build-manifest.json
  .next/cache/.tsbuildinfo
  .next/cache/webpack/client-production/1.pack
  .next/cache/webpack/client-production/3.pack
  .next/cache/webpack/client-production/4.pack
  .next/cache/webpack/client-production/5.pack
  .next/export/404.html
  .next/export/500.html
  .next/server/app-paths-manifest.json
  .next/server/app/(auth)/email-check/[token]/page_client-reference-manifest.js
  .next/server/app/(auth)/login/page_client-reference-manifest.js
  .next/server/app/(auth)/reset-password/page_client-reference-manifest.js
  .next/server/app/(auth)/signup/page_client-reference-manifest.js
  .next/server/app/(main)/calendar/page_client-reference-manifest.js
  .next/server/app/(main)/feedback/[projectId]/page_client-reference-manifest.js
  .next/server/app/(main)/projects/[id]/edit/page_client-reference-manifest.js
  .next/server/app/(main)/projects/[id]/view/page_client-reference-manifest.js
  .next/server/app/(main)/projects/create/page_client-reference-manifest.js
  .next/server/app/(main)/projects/page_client-reference-manifest.js
  .next/server/app/(public)/privacy/page_client-reference-manifest.js
  .next/server/app/(public)/terms/page_client-reference-manifest.js
  .next/server/app/_not-found/page_client-reference-manifest.js
  .next/server/app/page_client-reference-manifest.js
  .next/server/middleware-manifest.json
  .next/server/server-reference-manifest.json
  .next/static/SmJJyEPfCR6pqBM4l_gDP/_buildManifest.js
  .next/static/SmJJyEPfCR6pqBM4l_gDP/_ssgManifest.js
  .next/trace
  app/providers.tsx
  src/redux/project.ts
  src/redux/store.ts
Owners: @videoplanet-team-lead, @devops-lead

fix: Add missing dashboard page and update .gitignore for Vercel deployment
  .claude/settings.local.json
  .gitignore
  VERCEL_DEPLOYMENT_GUIDE.md
  app/(dashboard)/Dashboard.scss
  app/(dashboard)/page.tsx
Owners: @videoplanet-team-lead, @devops-lead, @documentation-team

fix: Move dashboard from route group to regular route for Vercel build
  MEMORY.md
  app/(main)/dashboard/Dashboard.scss
  app/(main)/dashboard/DashboardLayout.scss
  app/(main)/dashboard/layout.tsx
  app/(main)/dashboard/page.tsx
Owners: @documentation-team, @videoplanet-team-lead, @devops-lead

fix: Update CSS image paths to use correct assets directory
  src/css/Common.scss
  src/css/Home.scss
  src/css/Service.scss
Owners: @videoplanet-team-lead, @devops-lead

fix: Update CSS image paths to use correct assets directory
  .next/app-build-manifest.json
  .next/build-manifest.json
  .next/cache/.tsbuildinfo
  .next/cache/webpack/client-production/1.pack
  .next/cache/webpack/client-production/3.pack
  .next/cache/webpack/client-production/5.pack
  .next/cache/webpack/client-production/6.pack
  .next/cache/webpack/client-production/7.pack
  .next/cache/webpack/client-production/9.pack
  .next/cache/webpack/server-production/1.pack
  .next/cache/webpack/server-production/3.pack
  .next/react-loadable-manifest.json
  .next/server/app-paths-manifest.json
  .next/server/interception-route-rewrite-manifest.js
  .next/server/middleware-build-manifest.js
  .next/server/middleware-manifest.json
  .next/server/middleware-react-loadable-manifest.js
  .next/server/next-font-manifest.js
  .next/server/pages-manifest.json
  .next/server/server-reference-manifest.js
  .next/server/server-reference-manifest.json
  .next/trace
Owners: @videoplanet-team-lead, @devops-lead

fix: Landing page button functionality and layout issues
  .claude/settings.local.json
  .next/app-build-manifest.json
  .next/build-manifest.json
  .next/react-loadable-manifest.json
  .next/server/app-paths-manifest.json
  .next/server/interception-route-rewrite-manifest.js
  .next/server/middleware-build-manifest.js
  .next/server/middleware-manifest.json
  .next/server/middleware-react-loadable-manifest.js
  .next/server/next-font-manifest.js
  .next/server/pages-manifest.json
  .next/server/server-reference-manifest.js
  .next/server/server-reference-manifest.json
  .next/trace
  MEMORY.md
  app/page.tsx
  public/images/Common/logo.svg
  src/css/Common.scss
  src/css/Home.scss
Owners: @videoplanet-team-lead, @devops-lead, @documentation-team

fix: Login page loading issue and image layout improvements
  .claude/settings.local.json
  .next/app-build-manifest.json
  .next/server/middleware-manifest.json
  .next/server/server-reference-manifest.json
  .next/trace
  app/(auth)/login/page.tsx
  app/page.tsx
  features/auth/hooks/useAuth.ts
Owners: @videoplanet-team-lead, @devops-lead

fix: Image aspect ratios, button functionality, and logo update
  .next/trace
  app/page.tsx
  src/assets/images/Common/vlanet-logo.svg
  src/css/Home.scss
Owners: @videoplanet-team-lead, @devops-lead

feat: Complete user journey implementation with button animations
  .next/app-build-manifest.json
  .next/server/app-paths-manifest.json
  .next/server/middleware-manifest.json
  .next/server/server-reference-manifest.json
  MEMORY.md
  USER_JOURNEY_TEST.md
  app/(main)/settings/Settings.scss
  app/(main)/settings/page.tsx
  app/error.tsx
  app/loading.tsx
  app/not-found.tsx
  src/css/Common.scss
Owners: @videoplanet-team-lead, @devops-lead, @documentation-team

fix: 로그인 페이지 빈 화면 문제 해결
  .claude/settings.local.json
  .next/app-build-manifest.json
  .next/build-manifest.json
  .next/cache/.tsbuildinfo
  .next/cache/webpack/client-production/1.pack
  .next/cache/webpack/client-production/2.pack
  .next/cache/webpack/client-production/3.pack
  .next/cache/webpack/client-production/9.pack
  .next/cache/webpack/edge-server-production/0.pack
  .next/cache/webpack/edge-server-production/index.pack
  .next/cache/webpack/server-production/1.pack
  .next/cache/webpack/server-production/3.pack
  .next/cache/webpack/server-production/4.pack
  .next/react-loadable-manifest.json
  .next/server/app-paths-manifest.json
  .next/server/interception-route-rewrite-manifest.js
  .next/server/middleware-build-manifest.js
  .next/server/middleware-manifest.json
  .next/server/middleware-react-loadable-manifest.js
  .next/server/next-font-manifest.js
  .next/server/pages-manifest.json
  .next/server/server-reference-manifest.js
  .next/server/server-reference-manifest.json
  .next/trace
  CUsers유석근PDDesktopdevelopmentsVideoplanetlogin_production.html
  app/(auth)/login/page.tsx
  login_production.html
Owners: @videoplanet-team-lead, @devops-lead

fix: 이미지 크기 자동 조정 및 로그인 버튼 이벤트 핸들러 강화
  .next/app-build-manifest.json
  .next/build-manifest.json
  .next/server/app-paths-manifest.json
  .next/server/middleware-build-manifest.js
  .next/server/middleware-manifest.json
  .next/server/server-reference-manifest.json
  .next/trace
  MEMORY.md
  app/__tests__/page.test.tsx
  app/page.tsx
  src/css/Home.scss
Owners: @videoplanet-team-lead, @devops-lead, @documentation-team

fix: Django 마이그레이션 충돌 문제 해결 - Railway 배포 복구
  vridge_back/config/settings/base.py
  vridge_back/start_railway.sh
  vridge_back/users/migrations/0001_initial.py
Owners: @backend-lead, @devops-lead, @senior-django-dev, @database-admin

docs: 2025-08-16 오후 작업 내용 기록 - 프로덕션 배포 문제 해결
  MEMORY.md
Owners: @documentation-team

fix: Redux auth 리듀서 누락 문제 해결 - 로그인 페이지 빈 화면 수정
  app/(auth)/login/page.tsx
  features/auth/api/authApi.ts
  features/auth/types.ts
  src/redux/auth.ts
  src/redux/store.ts
Owners: @videoplanet-team-lead, @devops-lead

fix: TypeScript 타입 에러 수정
  MEMORY.md
  features/auth/api/authApi.ts
  src/redux/auth.ts
Owners: @documentation-team, @videoplanet-team-lead, @devops-lead

fix: 회사 정보 업데이트 및 API 디버깅 로그 추가
  app/page.tsx
  features/auth/api/authApi.ts
  utils/util.ts
Owners: @videoplanet-team-lead, @devops-lead

fix: utils/util.ts 타입 에러 수정
  utils/util.ts
Owners: @videoplanet-team-lead, @devops-lead

fix: 로그인 버튼 Link 컴포넌트로 변경 - router.push 대신 안정적인 navigation 구현
  app/page.tsx
Owners: @videoplanet-team-lead, @devops-lead

fix: Django 순환 의존성 문제 해결 - admin 의존성 제거
  vridge_back/users/migrations/0001_initial.py
Owners: @backend-lead, @database-admin

fix: 로그인 페이지 무한 로딩 문제 해결
  app/(auth)/login/page.tsx
  features/auth/hooks/useAuth.ts
Owners: @videoplanet-team-lead, @devops-lead

docs: 로그인 페이지 무한 로딩 문제 해결 완료 기록
  MEMORY.md
Owners: @documentation-team

fix: 로그인 버튼 브랜드 색상 복원 및 UI 100% 재현
  .claude/settings.local.json
  src/css/Home.scss
Owners: @videoplanet-team-lead, @devops-lead

feat: 로그인 페이지 UI 100% 재현 완료
  MEMORY.md
  app/(auth)/login/AuthForm.scss
  app/(auth)/login/page.tsx
Owners: @documentation-team, @videoplanet-team-lead, @devops-lead

fix: 랜딩 페이지 헤더 로그인 버튼 스타일 추가
  src/css/Home.scss
Owners: @videoplanet-team-lead, @devops-lead

fix: API_BASE_URL undefined 문제 해결 - 통합 환경변수 관리 시스템 구축
  VERCEL_DEPLOYMENT_GUIDE.md
  features/auth/api/authApi.ts
  features/feedback/api/feedbackApi.ts
  features/projects/api/projectsApi.ts
  lib/config.ts
Owners: @documentation-team, @videoplanet-team-lead, @devops-lead
